<h1>Accounts</h1>

<% if @departments %>
	<% if @departments.count > 1 %>
		<% @departments.each do |d| %>
			<p><%= d.name %></p>
		      <!-- Product.adjust_qtys(p['old_qty_shipped'], p['qty_shipped'], p['product_id']) -->
	    <% end %>
	<% elsif @departments.count == 1 %>
		<div id="placeholder" style="width:600px;height:300px"></div>
		<script>
		$(document).ready(function(){
			var dataFinal = new Array();
			
			var data1 = 
			<%= (1.month.ago.to_date..Date.today).map { |date| Scan.total_on( @departments[0].id, date) }.inspect
			
			 %>;
			
			var data2 = 
			<%= (1.month.ago.to_date..Date.today).map{ |date| date.strftime("%m/%d") } %>;
			for (var i = 0; i < data2.length; i++)
			{
			data2[i] = data2[i].replace(/&quot;/g, function (m, p) { 
    return "-";
  });
}
			for (var i = 0; i < data1.length; i++)
			{
				dataFinal.push(new Array(data2[i], data1[i]));
			}
			// console.log(dataFinal);
			
			// for (var i = 0; i < data1.length; i++){
				// console.log(dataFinal[i]);
			// }
			    // [gd(2013, 1, 2), 0], [gd(2013, 1, 3), 0.25], [gd(2013, 1, 4), 1]];
			var dayOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thr", "Fri", "Sat"];
			
			function gd(year, month, day) {
				return new Date(year, month - 1, day).getTime();
			}
			var dataset = [
			    {
			        // label: "Sell out",
			        data: dataFinal,
			        color: "#FF0000",
			        points: { fillColor: "#FF0000", show: true },
			        lines: { show: true },
			        points: { show: true }
			    }];
			var options = {
				yaxis: {
				    color: "black",
				    tickDecimals: 2,
				    axisLabel: "Gross Attendees",
				    axisLabelUseCanvas: true,
				    axisLabelFontSizePixels: 12,
				    axisLabelFontFamily: 'Verdana, Arial',
				    axisLabelPadding: 5
				},
			    // series: {
			        // lines: { show: true },
			        // points: { show: true },
					
			    // }
				xaxes: [
				{
				    mode: "time",
				    timeformat: "%m/%d",
				    tickSize: [1, "day"],
				    color: "black",       
				    axisLabel: "Date",
				    axisLabelUseCanvas: true,
				    axisLabelFontSizePixels: 12,
				    axisLabelFontFamily: 'Verdana, Arial',
				    axisLabelPadding: 10
				}]
			};
			$.plot($("#placeholder"), dataset, options);
		});
		</script>
		<% @events.each do |e| %>
			<p><%= e.name %></p>
		      <!-- Product.adjust_qtys(p['old_qty_shipped'], p['qty_shipped'], p['product_id']) -->
	    <% end %>
	<% end %>
<% end %>