<h1>Accounts</h1>

<% if @departments %>
	<% if @departments.count > 1 %>
		<% @departments.each do |d| %>
			<p><%= d.name %></p>
		      <!-- Product.adjust_qtys(p['old_qty_shipped'], p['qty_shipped'], p['product_id']) -->
	    <% end %>
	<% elsif @departments.count == 1 %>
		<% @events.each do |e| %>
			<p><%= e.name %></p>
		      <!-- Product.adjust_qtys(p['old_qty_shipped'], p['qty_shipped'], p['product_id']) -->
	    <% end %>
	<% end %>
<% end %>