<div class="page-fold">
	<div class="row">
		<div class="centered">
			<section>
				<h1>Welcome.</h1>
			</section>
			<section>
				<div>Sweep is disrupting the way we attend events</div>
				<div class="qrcode"><%= image_tag current_user.barcode_url %></div>
			</section>
		</div>
	</div>
</div>