<div class="page-fold">
	<div class="row">
		<div class="centered">
			<section>
			<h1>Sweep Email Confirmation</h1>

				<div style="margin-top:20px">Thank you for signing up for Sweep, log in to begin changing the way events are attended.</div>
			</section>
		</div>
	</div>
</div>