/* import */
/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, footer, header, nav {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  outline: none;
}

th, td {
  text-align: left;
  vertical-align: top;
}

img, fieldset {
  border: 0;
  height: auto;
}

h1, h2, h3, h4, h5, h6, th, td, p, caption {
/*  font-size: 1em;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  
  padding-top: 0.5em;
}

footer, header, nav, section {
  display: block;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

.inline {
	display: inline-block;
}

#full-logo {
/*	background-image: url('/assets/logo_kanzu_small.png');*/
	background-repeat: no-repeat;
	height: 103px;
	width: 200px;
}

/* mixins */
/* dimensions */
/* colours */
/* fonts */
/* layout */
html {
  overflow-y: scroll;
}

html, body {
	height: 100%;
}

table {
	width: 100%;}
	table > tbody > tr > th {
		font-weight: bold;
		text-align: center;
	}
	table > tbody > tr > td {
		text-align: center;
	}

body {
	  background: #F8F7ED;}
/*	background: #EDEDED;}*/
  body > header {
    clear: both;
    display: block;
    margin: 0px auto;
/*    padding: 0px 2%;*/
    min-width: 220px;
/*    max-width: 960px;*/
    overflow: hidden;
/*    margin: 0 auto .5em auto;*/
	background: #F9CE73;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
  }
    body > header h1 {
      margin: 0;
      padding: 0;
/*       width: 5em; */
      font-size: 2.0em;
      font-weight: 500;
      text-align: center;
  /*
    border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 2px solid #ccc;
*/
      float: left;
   }

      body > header h1 a {
        display: block;
        padding: .45em 1.5em;
        margin: 10px 3px 3px 3px;
        color: #FFFFFF;
/*        background: #28597a;*/
  	}
  	body > header h1 a:hover {
		color: #000C4F;
  	}
    body > header #right-header {
      display: block;
      padding: 0.5em 0.5em;
      margin: 10px 3px 3px 3px;
  }
   body > article {
    clear: both;
    display: block;
    margin: 0px auto;
    padding: 0px 2%;
    min-width: 220px;
    max-width: 960px;
    overflow: hidden;
   }
    body > article header {
      margin: 0 0 2em 0;
      width: 100%;
    }
    body > article code {
      display: block;
      padding: 5px 0 5px 5px;
    }
  body > footer {
    clear: both;
    overflow: hidden;
    padding: 0 0 20px 0;
    margin: 1em auto 0 auto;
    background: #ebebe2 url("../images/clipping-footer.png") no-repeat right top;
    border-top: 1px dashed #ccccb4;
    border-bottom: 4px solid #ccccb4;
    text-align: center;
  }
    body > footer div {
      clear: both;
      display: block;
      margin: 0px auto;
      padding: 0px 2%;
      min-width: 220px;
      max-width: 960px;
    }
    body > footer h3 {
      margin: .8em 0 0 0;
      padding: 0;
      color: #676637;
      margin-bottom: 5px;
    }
    body > footer p, body > footer li, body > footer li a {
      font-size: .9em;
      color: #575756;
    }
    body > footer li {
      list-style: none;
      padding: 0;
    }
    body > footer p {
      margin: 0 0 1em 0;
      padding: 0;
    }
    body > footer section#elsewhere ul {
      overflow: hidden;
    }
    body > footer section#elsewhere li {
      width: 50%;
      float: left;
    }
    body > footer section#elsewhere li {
      width: 100%;
      float: none;
    }
      body > footer section#elsewhere li a {
        display: block;
      }
    body > footer section#contact span.email, body > footer section#contact span.tel, body > footer section#contact span.adr {
      display: block;
    }

/* content elements */
a {
	/*-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	text-decoration: none;*/
	color: #2E7187;
}

a:hover {
	color: #46ABCC;
}
    
h2 {
  font-size: 2em;
  font-weight: 700;
  margin: .3em 0 .2em 0;
  color: #0D0F20;
}

h3 {
/*  font-size: 1.5em;*/
  margin: 0 0 .5em 0;
}
  h3 + h4 {
    padding-top: .5em;
  }

h4 {
  font-size: 1.2em;
  margin: 0 0 .2em 0;
  color: #252524;
}

h5 {
  font-size: 1.1em;
  margin: 0 0 .2em 0;
}

h6 {
  font-size: 1em;
  margin: 0 0 .2em 0;
}

p {
/*  font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 1em;
  margin: 0 0 1.5em 0;
  padding: 0;
  line-height: 1.4em;
}

ol {
  margin: 0 0 1.5em 0;
  line-height: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
  ol li {
    padding: 0 0 .5em 0;
    margin: 0 0 0 2em;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
  }

ul {
  margin: 0 0 1.5em 0;
  line-height: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
  ul li {
    padding: 0 0 .5em 0;
    margin: 0 .3em 0 1em;
	float:  left;
    list-style-type: none;
    list-style-position: outside;
  }

ul.summary {
  margin-left: 0;
  }
  ul.summary li {
    padding: 0 0 1em 0;
    margin: 1em 0 0 0;
    list-style-type: none;
    border-bottom: 1px dotted #ababab;
  }

ul.highlight {
  margin-left: 0;
  }
  ul.highlight li {
    padding: 0 0 1em 0;
    margin: 1em 0 0 0;
    list-style-type: none;
    border-bottom: 1px dotted #ababab;
    }
    ul.highlight li h3 {
      font-size: 1.2em;
      clear: both;
      padding-top: .5em;
    }
    ul.highlight li img {
      background-color: #fff;
      padding: .4em;
      float: left;
      margin: 0 1.2em 0 0;
    }
    ul.highlight li p {
      margin: 0 0 .3em 0;
    }
    
.align-left {
  float: left;
}

.align-right {
  float: right;
}

.align-center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.clearfix {
  clear: both;
  float: none;
  width: 100%;
}

.quarter {
  width: 25%;
}

/*.third {
  width: 33.3%;
}*/

.two-thirds {
  width: 66.7%;
}

.half {
  width: 50%;
}

.three-quarters {
  width: 75%;
}

.full {
  width: 100%;
}

.wrap {
  clear: both;
  display: block;
  margin: 0px auto;
  padding: 0px 2%;
  min-width: 220px;
  max-width: 960px;
}

.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5em;
}

.small-row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 15.5em;
}

.row > div > section > form {
	margin-top: 20px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
/*	text-align: center;*/
}

.subheader {
/*	color: #58595B;*/
/*	color: #D3D3D3;*/
	color: #434343;
	font-size: .9375em;
	line-height: 1.5em;
	font-weight: lighter;
	max-width: 60em;
}
.about, .badges {
/*	padding-bottom: 3.125em;*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 50em;
	
}

.badges .badge.simple {
	background-image: url('/assets/simple_circle_200.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	height: 213px;
	width: 200px;
}

.badges .badge.graph {
	background-image: url('/assets/analytics_circle_200.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
}

.badges .badge.mobile {
	background-image: url('/assets/mobile_circle_200.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
}

.abouts .about.thomas {
	background-image: url('/assets/about_thomas.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
}

.abouts .about.ian {
	background-image: url('/assets/about_ian.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
}

.width-50 {
	width: 50%;
}

.width-90 {
	width: 90%;
}

.badges .third > div {
/*	float: left;*/
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.badges .first > div, .badges .second > div, .abouts .first > div, .abouts .second > div {
	float: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.badges .first > div > h3, .badges .second > div > h3, .badges .third > div > h3, .abouts .first > div > h3, .abouts .second > div > h3 {
	margin-top: 1.0em;
}

.page-fold {
	min-height: 31em;
	padding: 1em;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -15.5em;
}

.push {
	height: 15.5em;
}

#footer {
	height: 15.5em;
	background: #323232;
	color: #FFFFFF;
}



#product-section {
	background-color: #FF9575;
	border-top: solid 1px #D3D3D3;
	border-bottom: solid 1px #D3D3D3;
	box-shadow: 0px 2px 2px #D3D3D3;
	-webkit-box-shadow: 0px 2px 2px #D3D3D3;
	-moz-box-shadow: 0px 2px 2px #D3D3D3;	
	overflow: hidden;
}

#contact-left {
/*	margin-left: 30%;*/
	width: 15.6em;
}

#contact-right {
/*	margin-right: 30%;*/
	width: 14.8em;
}

#contact-section {
	background-color: #EDEDED;
/*	padding-top: 1.5em;	*/
/*	min-height: 25em; */
	margin-top: 1.5em;
/*	margin: 0 auto;*/
}

.text-column {
	max-width: 400px;
}

#contact-us > a {
	color: #F9CE73;
}

#about-section {
	padding-top: 4em;
/*	height: 375px;*/
	background-color: #FFFFFF;
	border-top: solid 1px #D3D3D3;
	border-bottom: solid 1px #D3D3D3;
	box-shadow: 0px -2px 2px #D3D3D3;
	-webkit-box-shadow: 0px -2px 2px #D3D3D3;
	-moz-box-shadow: 0px -2px 2px #D3D3D3;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.badges .first > div, .badges .second > div, .abouts .first > div, .abouts .second > div,  .abouts .third > div,  .badges .third > div {
/*		position: relative;*/
		padding-left: .9375em;
		padding-right: .9375em;
		width: 83.33333%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	#contact-right, #contact-left {
/*		margin-left: 2em;*/
/*		margin-right: 2em;*/
/*		margin: 0 auto;*/
		width: 50%;
		float: none;
	}
	
	#contact-section {
/*		padding-right: 2em;*/
/*		padding-left: 2em;*/
	}
	
	#gray-bar {
		background-color: #323232;
		height: 44px;
		box-shadow: 0px 2px 2px #D3D3D3;
		-webkit-box-shadow: 0px 2px 2px #D3D3D3;
		-moz-box-shadow: 0px 2px 2px #D3D3D3;	
		overflow: hidden;
	}
	
	#product-section {
/*		height: 44em;*/
	} 
	
	#footer-nav {
		width: 100%;
/*		text-align: center;*/
	}
	
	#form-wrapper {
		width: 90%;
		margin: none;
	}
	
	body > header #right-header {
		margin: 0 auto;
		padding: 2% 1% 2%;
	}
	
	#right-header ul {
		margin: 0 auto;
	}
	
	#right-header ul li {
		margin: 0 auto;
		margin-bottom: 10px;
		clear: both;
	}
	
	.class {
		clear: both;
	}
	
	.footer {
		width: 300px;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

	#right-header {
		width: 40%;
		float:none;
	}

}

