<div class="page-fold">
	<div class="row">
		<div class="centered">
			<section>
			<h1>New Advisor</h1>

			<%= render 'form' %>

			<%= link_to 'Back', admin_index_path %>
			</section>
		</div>
	</div>
</div>